<!DOCTYPE html>
<html>
<head>
	<title>Layout || Maria Christa Uskono</title>
	<link rel="shortcut icon" href="Logo.jpg">
</head>
<body>			
		<table border="1" width="890px" align="center">
			<tr>
				<th width="100px">
					<img src="Logo.jpg" width="100px" height="100px" alt="Logo.jpg">
				</th>
				<th colspan="3">
					<h1>Kuliner Bakso Indonesia</h1>
				</th>
			</tr>
		</table>
		<br>
		<table border="1" width="600px" align="center">
				<tr>
					<th>
						<a href="#">Home</a>					
					</th>
					<th>
						<a href="#">Resep</a>
					</th>
					<th><a href="#">Kabar Kuliner</a></th>
					<th><a href="#">Tempat Makan</a></th>
				</tr>
		</table>
		<br>
		<table border="1" width="890px" align="center">
			<tr>
				<th> 
					<img src="Gambar 1.jpg" alt="Konten Pertama" width="240px">
				</th>
				<th>
					<img src="Gambar 2.jpg" alt="Konten Kedua" width="240px">
				</th>
			</tr>
			<tr>
				<th width="445px">
					<p>
						Bakso beranak atau bakso isi adalah sebuah hidangan Indonesia yang terdiri dari sebuah bakso (dalam ukuran biasa atau berukuran lebih besar dari ukuran biasa) yang bagian dalamnya diisi dengan berbagai macam jenis bahan makanan cair, gel atau padat yang berukuran lebih kecil, seperti keju cheedar, keju mozarella, cabai, telur, tahu, sosis, jamur, daging cincang, bakmi, bakso lainnya yang berukuran lebih kecil, dan lain sebagainya. Menurut KOMPAS.com, jenis bakso tersebut pada awalnya dibuat oleh Big Bakso Family milik Oding yang dibuka sejak 2013
					</p>
				</th>
				<th width="445px">
					<p>
						Bakso lava merupakan bakso variasi baru yang kekinian dan wajib kamu coba. Bakso lava berbeda dengan bakso biasa mulai dari ukuran bakso hingga cita rasanya. Hidangan yang menjadi favorit banyak orang ini dinamakan bakso lava karena isian bakso yang begitu pedas.Saat dibelah, di dalam bakso lava yang berukuran besar ini kamu akan menemukan bakso berukuran kecil dan sambal cabai yang super banyak. Rasa bakso dan kuah kaldu yang lezat dan pedas tentunya akan membuat kamu ketagihan. Bakso lava yang pedas ini paling pas dinikmati saat cuaca dingin dan hujan.
					</p>
				</th>
			</tr>
		</table>
		<br>
		<table border="1" width="890px" align="center">
			<tr>
				<th>Ista Uskono Copyright @ 2020</th>
			</tr>
		</table>
</body>
</html>